<style>
    img {
        padding-top: 10px;
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
    /* Additional styles for steps */
    .step img {
        margin-bottom: 15px;
    }
    .instructional-videos ul {
        list-style-type: none;
        padding: 0;
    }
    .instructional-videos li {
        display: inline-block;
        margin: 0 10px;
    }
</style>

<!-- About Section -->
<section id="about">
    <div class="container">
        <!-- Section Heading -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Fiber Internet Now Available!</h2>
                <h3 class="section-subheading text-muted">With Spectrum's help, the BLNA is now offering high-speed fiber internet service to our neighborhood!</h3>
                <p>Sign up now to be one of the first to get fiber internet in the neighborhood!</p>
            </div>
        </div>
        <!-- Steps Section -->
        <div class="row">
            <!-- Step 1 -->
            <div class="col-md-6 text-center step">
                <h2>Step 1</h2>
                <p>Sign up and set up through Spectrum to get service installed.</p>
                <a href="https://spectrum.com/servicesetup" target="_blank" rel="noopener noreferrer" aria-label="Go to Spectrum Service Setup">
                    <img src="https://tbcdn.talentbrew.com/company/4673/v4_0/img/og/communitysolutions_og.png" alt="Spectrum Service Setup">
                    <br>
                    <button class="btn btn-primary btn-xl">Go to Spectrum Service Setup</button>
                </a>
            </div>
            <!-- Step 2 -->
            <div class="col-md-6 text-center step">
                <h2>Step 2</h2>
                <p>Sign up and set up through the VISP.net portal to handle billing for the base 500Mbps internet package.</p>
                <a href="https://fiber.benbrooklakeshore.org/signup" target="_blank" rel="noopener noreferrer" aria-label="Go to VISP.net Signup">
                    <img src="img/billing_portal_slim.png" alt="VISP.net Signup">
                    <br>
                    <button class="btn btn-primary btn-xl">Go to VISP.net Signup</button>
                </a>
            </div>
        </div>
        <!-- Instructional Videos Section -->
        <div class="row">
            <div class="col-lg-12 text-center instructional-videos">
                <h3>Instructional Videos</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bk4sNNhjTSw" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
