<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">What we offer to our community</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community Center</h4>
                    <p class="text-muted">We maintain the Benbrook Lakeshore community center for use by our neighbors for events, parties, classes, meetings, etc.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Parties and Events</h4>
                    <p class="text-muted">Our incredible event committee helps put on special events for all our neighbors and their families. Events such as: holiday celebrations, block parties, and seasonal soirees!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Neighborhood Security</h4>
                    <p class="text-muted">At the entrance to our neighborhood, we have deployed a "Flock" camera system that scans all license plates coming and going from the neighborhood. This information is shared with the Tarrant County Sherriff's Office for the purposes of crime prevention and prosecution.</p>
                </div>
            </div>
        </div>
    </section>