<!DOCTYPE html>
<html>

  {% include head.html %}



    <script>
      var MemberSpace = window.MemberSpace || {"subdomain":"benbrooklakeshore"};
      (function(d){
        var s = d.createElement("script");
        s.src = "https://cdn.memberspace.com/scripts/widgets.js";
        var e = d.getElementsByTagName("script")[0];
        e.parentNode.insertBefore(s,e);
      }(document));
    </script>
    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>